<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>File Upload and sharing application</h1>

    <form method='POST' enctype='multipart/form-data'>
        {{form.hidden_tag()}}
        <div>{{form.file()}}</div>
        
        <h2 class="text-center">Enter atleast 1 Mail id to share uploaded document</h2>
        <div>
          <div>{{form.email1(placeholder="Email1")}}</div>
          <div>{{form.email2(placeholder="Email2")}}</div>
          <div> {{form.email3(placeholder="Email3")}}</div>
          <div>{{form.email4(placeholder="Email4")}}</div>
          <div>{{form.email5(placeholder="Email5")}}</div>
        </div>
        <br>
        <div>{{form.submit()}}</div>
    </form>
</body>
</html>